.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #596065;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact > * {
  text-align: center;
  max-width: 90%;
  font-weight: 400;
}

.contact > h2 {
  font-weight: bold;
  font-size: 1.2rem;
}

.mailto {
  color: white;
}

.contact > hr {
  width: 100%;
  margin: 1rem;
  opacity: 50%;
}

.contact > button {
  padding: 1em;
  background-color: #60c5d2;
  color: white;
  border: none;
  border-radius: 25px;
  margin: 2rem;
  font-weight: 300;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact > hr {
    width: 50%;
  }
  .contact > p {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .contact {
    width: 100%;
  }
  .contact > button {
    padding: 1.2em;
    margin-bottom: 3rem;
    font-size: 0.75rem;
  }
  .contact h2 {
    padding-top: 2rem;
  }
  .contact > * {
    max-width: 60%;
  }
  .contact hr {
    max-width: 30%;
    margin: 0.5rem;
  }
  .contact p {
    font-size: 0.75rem;
    line-height: 1.5em;
  }
}

@media screen and (min-width: 992px) {
  .contact h2 {
    padding-top: 2rem;
  }
  .contact > button {
    margin: 1.5rem;
    font-size: 0.75rem;
    padding: 15px;
  }
  .contact > * {
    max-width: 30%;
  }
  .contact p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
  .contact hr {
    margin: 0.75rem;
  }
}
