.gallery {
  display: flex;
  flex-direction: column;
  color: white;
}

.gallery-text {
  /* text-align: center; */
  background-color: #60c5d2;
}

/* .gallery-text > div > hr {
  max-width: 100%;
} */

.gallery-images {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 5%; */
  background-color: white;
}

.gallery-images > img {
  margin-bottom: 2rem;
  max-width: 40%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery-images > img {
    width: 90%;
    max-width: 385px;
    padding: 0;
    margin: 0;
  }
  .gallery-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 2rem;
  }
  .gallery-images {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .gallery-text {
    width: 100%;
    text-align: center;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  .gallery-text > div {
    max-width: 90%;
    margin: 0 auto;
  }
  .gallery-text > div > h2 {
    font-size: 1.1rem;
  }
  .gallery-text > div > hr {
    opacity: 50%;
    width: 30%;
  }
  .gallery-text > div > p {
    font-size: 1rem;
  }

  .gallery-phrase {
    margin-bottom: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 90vw;
  }
  .gallery-text > div {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }
  .gallery-text hr {
    width: 35vw;
    opacity: 50%;
  }
  .gallery-text h2 {
    padding-top: 5rem;
    font-size: 1.3em;
  }
  .gallery-text p:last-child {
    padding-bottom: 5rem;
  }

  .gallery-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .gallery-images img {
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1920px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
  }
  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 2.5rem;
  }
  .gallery-images > img {
    /* margin: 0; */
    width: 45%;
    margin: 0;
    max-width: 345px;
    max-height: 224px;
    padding: 0;
    margin: 0;
  }

  .gallery-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    /* padding-left: 10%;
    padding-right: 2rem; */
    padding: 5%;
    justify-content: center;
    max-width: 25%;
  }
  .gallery-text > div {
    max-width: 90%;
    padding-left: 10%;
  }

  .gallery-text div h2 {
    font-size: 1.3rem;
  }
  .gallery-phrase {
    margin-bottom: 3rem;
    font-size: 0.75rem;
    line-height: 1.3rem;
  }
}
