.quote {
  display: flex;
  flex-direction: column;
  background-color: #f7c552;
  text-align: center;
  padding: 2rem;
  color: white;
  align-items: center;
}

/* .quote-unit-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.quote-unit-2 {
  display: none;
}
.quote-unit-3 {
  display: none;
}
.quote-unit-4 {
  display: none;
} */

.quote-text {
  background-color: white;
  padding: 1rem;
  color: #94a3b8;
  font-style: italic;
  line-height: 2em;
  font-size: 1.2rem;
  font-weight: 300;
}
.quote > h3 {
  margin: 0;
}

.circle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tiny-circle {
  width: 9px;
  height: 8px;
  border-radius: 50%;
  opacity: 60%;
  background-color: white;
  padding: 0.6px;
  margin: 5px;
}

.tiny-circle:nth-child(4) {
  opacity: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767) {
  .tiny-circle {
    padding-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .quote {
    padding: 10%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1920px) {
  .quote {
    justify-content: center;
    height: 40vh;
  }
  .quote-text {
    max-width: 50%;
  }
  .circle-container {
    margin-top: 2rem;
    gap: 5px;
  }
  .quote-text > p {
    font-size: 0.6rem;
  }
}
