@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .menu-icon {
    height: 50%;
    padding-right: 5%;
  }
  .header-logo {
    padding-left: 5%;
  }

  .header-logo > p {
    font-size: 3rem;
  }
  .header-logo > p > span {
    font-size: 3.5rem;
  }

  .header-nav {
    position: absolute;
    border-top: solid 1px #111827;
    display: none;
    padding: 1rem;
    font-size: 0.9em;
    top: 10vh;
    left: 0;
    background-color: #334155;
    width: 100vw;
  }
  .header-nav > a {
    padding: 0.5em;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .features > div > hr {
    display: none;
  }

  header {
    height: 10vh;
    width: 100%;
  }

  .gallery-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .gallery-images {
    max-width: 640;
  }

  button {
    font-size: 1.2rem;
  }

  .features > div {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .gallery-text {
    max-width: 30%;
    padding-left: 2rem;
  }

  .gallery {
    display: flex;
    flex-wrap: no wrap;
    justify-content: space-between;
  }

  .gallery-images {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: white;
  }

  .gallery-images > img {
    max-width: 50%;
  }

  .blog-bottom > button {
    padding: 2rem;
  }

  .location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
  }
  .icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
  }
}
